@import "../../../mixins.scss";

.scanQR_Container {
  width: px2vwL(1128);
  // height: px2vwL(442);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: px2vwL(40);
}
