.nav-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  padding: 16px 156px 16px 156px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 #00000026;
  z-index: 1;
}

#about:hover,
#our_menu:hover,
#service:hover,
#advice:hover {
  background: #e7f0f0;
  border-radius: 5px;
  color: #0c6967;
}
.menu {
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 168px;
  height: 48px;
  padding: 16px 0px 16px 0px;
  gap: 8px;
}

.momo {
  font-family: Proxima Nova;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #0c6967;
}

.link-container {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  column-gap: 28px;
  color: #6b788e;
}

.social-media_container {
  display: flex;
  align-items: center;
  height: 48px;
  width: 360px;
  gap: 32px;
}

.socialMedia-icon {
  display: flex;
  height: 32px;
  width: 128px;
  gap: 16px;
  align-items: center;
}

.socialMedia-icon p {
  width: 32px;
  height: 32px;
  padding: 6.67px 8px 6.67px 8px;
  border-radius: 100px;
  display: contents;
  align-items: center;
}

.contact {
  width: 119px;
  height: 41px;
  padding: 12px 22px 12px 22px;
  border-radius: 100px;
  gap: 8px;
  background: #d95103;
  color: white;
  border: none;
}
