@import "../../../mixins.scss";

.Process_container {
  height: px2vwL(635);
  // width: px2vwL(1441);
  background-image: linear-gradient(to right, rgba(0, 0, 0.2, 0.8), transparent),
    url("./yadav.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-left: px2vwL(156);
  padding-top: px2vwL(367);

  :global .main_conatiner {
    .heading {
      font-weight: 700;
      font-size: px2vwL(49);
      color: #ffffff;
    }
    .description {
      font-weight: 400;
      font-size: px2vwL(25);
      color: #ffffff;
    }
  }
}
