.happy_container {
  :global .Happy_text {
    width: 576px;
    height: 420px;
    .text-container {
      color: #0c6967;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
    }
    h1 {
      font-size: 30px;
      font-weight: 700;
      color: #101828;
    }
    .description {
      width: 529px;
      height: 114px;
      font-weight: 400;
      font-style: italic;
      font-size: 24px;
      margin-top: 24px;
    }
    .heading {
      font-weight: 700;
      font-size: 31px;
      color: #101828;
      margin-top: 20px;
    }
  }
}
