@import "../../../mixins.scss";

.Service_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: px2vwL(156);
  padding-right: px2vwL(156);

  :global .text_container {
    width: px2vwL(551);
    margin-top: px2vwL(119);
  }
}
